// .page {
//   min-height: 100vh;
//   max-width: 1000px;
//   margin: 0 auto;

//   // grid
//   display: grid;
//   grid-template-rows: 50px auto auto 50px;
//   grid-template-columns: 33.3% 33.3% 33.3%;

//   &__menu {
//     background-color: red;
//     grid-column: 1/4;
//   }
//    &__aside {
//     background-color: rgb(46, 48, 148);
//     grid-column: 1/2;

//   }
//    &__gallery {
//     background-color: rgb(72, 131, 65);
//     grid-column: 2/4;
//   }
//    &__articles {
//     background-color: rgb(51, 42, 42);
//     grid-column: 2/4;

//   }
//    &__footer {
//     background-color: rgb(178, 197, 5);
//     grid-column: 1/4;

//   }
// }




.page {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;

  // grid
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  grid-template-columns: minmax(auto, 100px) 1fr 1fr 1fr;
  grid-template-areas: 
    'menu menu menu menu'
    'asides article article article'
    'gallery gallery gallery gallery'
    'footer footer footer footer';
  

  @include mq(medium) {
    background-color: yellow;
    grid-template-areas: 
    'menu menu menu menu'
    'asides gallery gallery gallery'
    'asides article article article'
    'footer footer footer footer';
  }

  &__menu {
    grid-area: menu;
  }
   &__aside {
    grid-area: asides;

  }
   &__gallery {
    // grid-column: 2/4;
    grid-area: gallery;

  }
   &__articles {
    background-color: rgb(51, 42, 42);
    grid-area: article;

  }
   &__footer {
    background-color: rgb(178, 197, 5);
    grid-area: footer;
  }
}