.articles {
  display: flex;
  margin: 20px 0;
  background-color: #fff;
  justify-content: space-around;
  flex-wrap: wrap;
  .article {
    margin-bottom: 10px;
    flex-basis: 80%;
    padding: 10px;
    background-color: red;
    @include mq(xsmall) {
      flex-basis: 45%;
    }
    @include mq(small) {
      flex-basis: 30%;
    }
     @include mq(large) {
      flex-basis: 21%;
    }
  }
}