.footer {
  display: flex;
  background-color: #000;
  color: #fff;
  align-items: center;
  &__links {
    flex-grow: 1;
    text-align: end;
    padding: 10px;
  }
  &__link {
    a {
      color: #fff;
      text-decoration: w;
    }
  }
  &__contact {
    padding: 10px;
  }
}