.page {
  @include flex(column);
  background-color: $color-bgc;
  min-height: 100vh;

  &__menu {
    padding: 10px;
  }

  &__content {
    margin-bottom: 10px;
    flex: 1;
  }

  &__form {
    margin: 20px 20px;
  }

  &__footer {
    margin-top: auto;
  }
}

.testfunc {
  @extend %flex-center;
  margin: btnMargin(101px)
}