@import "variables";
@import "mixins";
@import "functions";
@import "reset";
@import "base";
@import "layout";
@import "components/page";
@import "components/button";
@import "components/menu";
@import "components/banner";
@import "components/content";
@import "components/sidebar";
@import "components/articles";
@import "components/article";
@import "components/form";
@import "components/footer";

// LISTY w SASS

$sizes: 40px, 50px, 80px;

// stworzy dla kazdego w licie
@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

.list {
  width: nth($sizes, 2) // 50px
}
// do list mozna takze dodawac znajdywac element itd


// obiekty , MAPA w sass
$mojObiekt: (
  key: 10px
);

.oniekt {
  padding: map-get($map: $mojObiekt, $key: key);
  // lub
  padding: map-get($mojObiekt, key);
}