.aside {
  display: grid;
  // grid: auto auto auto auto;
  // grid-template: auto auto auto auto;
  grid-template-rows: auto 1fr;
  &__links {
    background-color: #fff;
  }
  &__link {
    display: inline-block;
    width: 100%;
    margin: 2px 0;
    padding: 5px;
  }
  background-color: rgb(216, 158, 158);
}